html {
  background-image: url(bg.jpg);
}
body {
  background-color: #a07676;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  border: 10px groove black;
}

header{
  margin-top: 200px;
}

h1 {
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px 5px black;
}

h2{
  clear:both;
}

.menu{
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  position:fixed;
  top: -10px;
}

.sousMenu{
  display: flex;
  flex-direction: row;
  width: 680px;
  height:40px;
  margin-bottom: 30px;
  background-color: #d4bdbd;
  border: 1px solid black;
  box-shadow: 0 0 3px black;
}


.accueil, .contact , .divers, .menuTitre,.titre2 ,.titre3{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  text-wrap: nowrap;
}

.accueil, .contact, .divers, .titre2, .titre3{
  margin-left: 75px;
}

#puce{
  padding: 5px;
  vertical-align: bottom;
}

.titre2, .titre3{
  padding-left: 25px;
  padding-right: 40px;
}


img.bio {
  padding: 40px;
  float:left;
}

p {
  text-align: justify;
  line-height: 22px;
}

.video
{
  float:right;
  padding: auto;
  padding-left: 10px;
}
.cache
{
  float:left
}

div.calc
{
  height: auto;
}
a
{
  color: #490303;
  text-decoration: none;
}
a:hover
{
  color:rgb(20, 15, 102);
}

.container2
{
  display: flex;
  flex-direction: column;
}
.mesadresse, .message
{
  background-color: #d4bdbd;
  border: 1px solid black;
  box-shadow: 0 0 3px black;
  border-radius:8px;
  padding: 10px;
}
.mesadresse
{
  margin-top: 50px;
  width: 300px;
  height: 100px;
}
.message
{
  margin-left: 80px;
  margin-top: 50px;
  height: 250px;
}
textarea
{
  width: 500px;
}
.mail
{
  list-style-image: url(../media/mail2.png);
  list-style-position:inside;
}
.youtube
{
  list-style-image: url(../media/youtube2.png);
  list-style-position:inside;
}

@media(max-width: 770px){
  body{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  img.bio{
    padding:0;
    float: none;
  }
  .cache {
    display: flex;
    float: none;
    flex-direction:column;
  }
  img{
    width: 200px;
  }
  
  .menu{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    position:fixed;
    top: -20px;
  }

  .sousMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    width: 100px;
    height:auto;
  }


  .accueil, .contact , .divers, .menuTitre,.titre2 ,.titre3{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    text-wrap: wrap;
  }
  .accueil, .contact, .divers, .titre2, .titre3{
    margin-left: 0;
  }

  #puce{
    display: none;
  }
  .mesadresse
  {
    margin: 0;
    margin-top: 50px;
    padding-left: 0;
    text-align: left;
    width: 200px;
    height: 100px;
  }
  .message
  {
    margin-left: 0;
    margin-top: 10px;
    height: 250px;
  }
  textarea
  {
    width: 150px;
  }
  ul{
    padding-left: 10px;
  }
}