<!DOCTYPE html>
<html lan="fr">
  <head>
    <meta charset="utf-8" />
    <title>Julius El Gringo devient Dev Web</title>
    <link rel="stylesheet" href="..\static\style.css"/>
  </head>
  <body>
    <header id="hautDePage">
      <h1>Divers</h1>
      <nav>
        <ul>
            <li class="accueil"><a href="../index.html" >Accueil</a></li>
            <li class="contact"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      
      <nav><a href="#hautDePage">Haut de page</a></nav>
    </footer>
  </body>
</html>