<!DOCTYPE html>
<html lan="fr">
  <head>
    <meta charset="utf-8" />
    <title>Julius El Gringo devient Dev Web</title>
    <link rel="stylesheet" href="..\static\style.css"/>
  </head>
  <body>
    <header id="hautDePage">
      <h1>Divers</h1>
      <nav class="sousMenu">
        <div class="menuTitre">Menu du site</div>
        <div class="accueil"><img id="puce" src="../media/accueil2.png"><a href="../index.html" >Accueil</a></div>
        <div class="contact"><img id="puce" src="../media/contact2.png"><a href="contact.html">Contact</a></div>
      </nav>
      
      <nav><a href="#hautDePage">Haut de page</a></nav>
    </footer>
  </body>
</html>